<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/liste.css">
  <title>Document</title>
</head>
<body>
  <div class="container-cards">
    <% for(var i=0; i < projects.length; i++) { %>
    <div class="card">
      <h1><%= projects[i].titre %></h1>
      <p><%= projects[i].description %></p>
      <img src="/image/<%= projects[i].image %>" />
      <form method="GET" action='/edit/<%= projects[i]._id %>'>
        <button type="submit">edit</button>
      </form>
      <form method="POST" action='/admin.supp/delete/<%= projects[i]._id %>'>
        <button type="submit">delete</button>
      </form>
    
      <button><a href="/admin">retour</a></button>
      <button><a href="logout">log out</a></button>
    
    </div>
    <% } %>
    </div>
    
</body>
</html>


